html { 
       background: url('../images/enlighten.jpg') no-repeat center center fixed; 
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
}

.streamplayer{
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
  background: rgba(0.3, 128, 0.3, 0.3)
  background-image: url('../images/navbar.gif') 
}

img{
       object-fit: contain;
}
metadata{
       color: white;
}