html { 
       background: url('../images/enlighten.jpg') no-repeat center center fixed; 
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
       font-family: "Times New Roman", Times, serif;
}

.streamPlayer{
  /*display:inline-block;*/
  margin: auto;
  border: 3px solid black;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.85);
  overflow-x: auto;
  overflow-y : hidden;
  width:  800px;
  height: 350px;
}

img{
       object-fit: contain;
}

.streambtn{
  background-color: #FFFFFF; 
  border: 2px solid black;
  color: black;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.canvasParent{
 position: relative;
  width:  800px;
  height: 350px;
}

.canvasCover{
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  border: 1px solid;
  z-index: 999;
}
.bar-wrapper {
  height: 300px;
  position: relative;
}
.bar {
  position: relative;
  bottom: 0;
  width: 5px;
  display: inline-block;
  border: 1px solid black;
  height: 5px;
  border-bottom: 3px solid #000;
}